In [1]:
import pandas as pd

In [28]:
# 数据表 a
df1 = pd.read_excel('./a.xlsx')['名称']
# 数据表 b
df2 = pd.read_excel('./b.xlsx')
print(type(df2))

<class 'pandas.core.frame.DataFrame'>

In [17]:
# 筛选标记为2的名称
df2 = df2[df2['标记'] == 2]['名称']
print(type(df2))

<class 'pandas.core.series.Series'>

In [18]:
df2

2    王五
3    赵六
Name: 名称, dtype: object

In [23]:
df1

0    张三
1    李四
2    王五
Name: 名称, dtype: object

In [26]:
print(type(df1))

<class 'pandas.core.series.Series'>

In [24]:
# 数据表 a 转换为列表
aList = list(df1)
# 表头
columns = ['名称']
cList = []

In [25]:
aList

['张三', '李四', '王五']

In [21]:
# 遍历数据表 b
for k in df2:
    
    # 判断 标记为2的名称是否在数据表中
    if k not in aList:
        # 输出
        print(k)
        cList.append(k)
        df3 = pd.DataFrame(cList, columns=columns)

df3

赵六

   名称
0  赵六

In [22]:
# 保存新数据表
df3.to_excel('c.xlsx', index=0)